@media (min-width: 992px) {
  .topMenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg); } }
@media (max-width: 350px) {
  .rTop .btnNonSSM button:first-child {
    display: none; } }
@media (max-width: 450px) {
  .sidenav a {
    font-size: 20px !important; } }
@media (max-width: 991px) {
  .buttBanBG {
    background-blend-mode: overlay; }

  .basket__Product {
    left: -35px !important;
    top: 50px !important; } }
@media (min-width: 992px) {
  .RiFutFon {
    border-left: 1px solid #e3e3e3; } }
@media (max-width: 991px) {
  .futFon {
    min-height: auto; }
    .futFon .futFonInfo {
      min-height: inherit; }
      .futFon .futFonInfo .RiFutFon {
        min-height: inherit;
        border-top: 1px solid #e3e3e3;
        padding-top: 2rem; }
      .futFon .futFonInfo .leftFutFon {
        min-height: inherit; }
        .futFon .futFonInfo .leftFutFon .footerCarousel {
          justify-content: center;
          margin: 0 auto; } }
@media (max-width: 576px) {
  .inpForm {
    display: none; }

  .topBannerContent {
    background-size: 100% !important;
    background-blend-mode: overlay; }

  .menLabeltop {
    font-size: 3rem !important;
    color: #f15068 !important; }

  .menLabelbut {
    font-size: 2rem !important;
    color: #f15068 !important; }

  .prodCardHeader {
    width: 100% !important; }

  .drMyAccount {
    transform: translate3d(-122px, 6px, 0px) !important; } }
@media (max-width: 1199px) {
  .offer > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }

  .offerText .topOfferLabel {
    font-size: 2.5rem !important; }
  .offerText .offerLabel {
    font-size: 3.5rem !important; } }
@media (min-width: 992px) {
  .prodCard {
    flex: none !important; } }
@media (min-width: 768px) {
  .prodCard:hover {
    box-shadow: 0 19px 14px -12px rgba(0, 0, 0, 0.38); }
    .prodCard:hover .psevProdCard {
      display: flex; } }
header {
  background-color: #FFFFFF; }

.logo {
  background: url("https://raw.githubusercontent.com/IKolyas/verstka/master/src/assets/images/logo.png") no-repeat;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
  line-height: 4rem;
  text-decoration: none;
  color: #222222; }
  .logo:hover {
    color: #222222;
    text-decoration: none; }
  .logo span {
    color: #f15068;
    font-weight: 700; }

.searchBrowse button {
  border: 1.0px solid #e8e8e8;
  border-radius: 0.0px 3.0px 3.0px 0.0px;
  background-color: #f6f6f6; }
  .searchBrowse button:hover, .searchBrowse button:active, .searchBrowse button:focus {
    box-shadow: none !important; }
  .searchBrowse button i {
    color: #a4a4a4; }
.searchBrowse .drMenuHeaderLeft {
  width: 262px !important;
  background-color: #ffffff !important;
  border-radius: 5.0px !important;
  transform: translate3d(15px, 36px, 0px) !important; }
  .searchBrowse .drMenuHeaderLeft .drMenuHeaderLeftLinkH {
    font-size: 14px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323; }
  .searchBrowse .drMenuHeaderLeft .drMenuHeaderLeftLink {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f; }

.dell__Product {
  color: #c0c0c0;
  transition-duration: .5s;
  border: none;
  background-color: #FFFFFF !important; }
  .dell__Product:hover {
    color: #222222 !important;
    transform: scale(1.2, 1.2);
    cursor: pointer; }

.buttMyAccount {
  width: 225px !important;
  height: 50px !important;
  border: 1.0px solid #f16d7f !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: #f16d7f !important;
  background-color: #FFFFFF !important;
  border-radius: 0 !important;
  transition-duration: .5s; }
  .buttMyAccount:hover {
    background-color: #f15068 !important;
    color: #FFFFFF !important;
    border-radius: 0 !important; }

.rTop .basket__block {
  position: relative; }
  .rTop .basket__block .my__cart {
    color: #f15068;
    font-size: 1.7rem;
    transition-duration: .5s; }
    .rTop .basket__block .my__cart:hover {
      text-decoration: none;
      color: #f15068;
      transform: scale(1.2, 1.2); }
  .rTop .basket__block .basket__Product {
    position: absolute;
    width: 262px !important;
    background-color: #FFFFFF;
    border: 1px solid #898989;
    left: -66px;
    top: 63px;
    z-index: 100;
    opacity: 0;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0;
    transition: .4s ease-in-out; }
  .rTop .basket__block .open__basket {
    top: 63px;
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1; }
  .rTop .basket__block img {
    width: 72px;
    height: 85px;
    object-position: center center;
    object-fit: cover; }
  .rTop .basket__block .product__text h3 {
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  .rTop .basket__block .product__text .stars i {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48; }
  .rTop .basket__block .product__text p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f15068; }
    .rTop .basket__block .product__text p span {
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      text-transform: inherit;
      color: inherit; }
.rTop .btn-group button {
  background-color: #ef6375; }
.rTop .btn-group .dropdown-menu {
  top: 35% !important; }

.headerLine {
  border-bottom: 1px solid #ececec;
  width: 100%; }

.topNav .topMenu > li {
  display: inline-block;
  position: relative; }
.topNav .menu__top__link {
  display: flex;
  align-items: center;
  height: 2.5rem;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1.5rem;
  border-bottom: 4px solid #ffffff;
  transition-duration: .5s; }
  .topNav .menu__top__link:hover {
    text-shadow: 2px 4px 6px #969696;
    text-decoration: none;
    color: #222222;
    border-bottom: 4px solid #f15068; }
.topNav .submenu {
  width: 846px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 5.0px;
  list-style: none;
  border: none;
  position: absolute;
  left: -100px;
  opacity: 0;
  z-index: 5;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0;
  transition: .4s ease-in-out; }
  .topNav .submenu h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323; }
  .topNav .submenu .subMenuLink {
    text-transform: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    transition-duration: .7s; }
    .topNav .submenu .subMenuLink:hover {
      text-decoration: none;
      color: #f15068;
      text-shadow: 2px 4px 6px #969696; }
.topNav .topMenu li a:hover {
  color: #E6855F; }

.topNavMobile a {
  color: #f15068;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1.5rem; }
  .topNavMobile a:hover {
    text-shadow: 2px 4px 6px rgba(150, 150, 150, 0.4);
    text-decoration: none;
    color: #f15068; }
.topNavMobile button {
  background-color: #f15068; }

@media (min-width: 992px) {
  .topMenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg); } }
@media (max-width: 350px) {
  .rTop .btnNonSSM button:first-child {
    display: none; } }
@media (max-width: 450px) {
  .sidenav a {
    font-size: 20px !important; } }
@media (max-width: 991px) {
  .buttBanBG {
    background-blend-mode: overlay; }

  .basket__Product {
    left: -35px !important;
    top: 50px !important; } }
@media (min-width: 992px) {
  .RiFutFon {
    border-left: 1px solid #e3e3e3; } }
@media (max-width: 991px) {
  .futFon {
    min-height: auto; }
    .futFon .futFonInfo {
      min-height: inherit; }
      .futFon .futFonInfo .RiFutFon {
        min-height: inherit;
        border-top: 1px solid #e3e3e3;
        padding-top: 2rem; }
      .futFon .futFonInfo .leftFutFon {
        min-height: inherit; }
        .futFon .futFonInfo .leftFutFon .footerCarousel {
          justify-content: center;
          margin: 0 auto; } }
@media (max-width: 576px) {
  .inpForm {
    display: none; }

  .topBannerContent {
    background-size: 100% !important;
    background-blend-mode: overlay; }

  .menLabeltop {
    font-size: 3rem !important;
    color: #f15068 !important; }

  .menLabelbut {
    font-size: 2rem !important;
    color: #f15068 !important; }

  .prodCardHeader {
    width: 100% !important; }

  .drMyAccount {
    transform: translate3d(-122px, 6px, 0px) !important; } }
@media (max-width: 1199px) {
  .offer > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }

  .offerText .topOfferLabel {
    font-size: 2.5rem !important; }
  .offerText .offerLabel {
    font-size: 3.5rem !important; } }
@media (min-width: 992px) {
  .prodCard {
    flex: none !important; } }
@media (min-width: 768px) {
  .prodCard:hover {
    box-shadow: 0 19px 14px -12px rgba(0, 0, 0, 0.38); }
    .prodCard:hover .psevProdCard {
      display: flex; } }
.futFon {
  min-height: 438px;
  background: url('https://raw.githubusercontent.com/IKolyas/verstka/master/src/assets/images/Layer41%401X.jpeg') no-repeat center 28%, #ccc;
  background-blend-mode: overlay;
  background-size: cover; }
  .futFon .futFonInfo {
    min-height: 438px; }
    .futFon .futFonInfo .leftFutFon {
      min-height: inherit; }
      .futFon .futFonInfo .leftFutFon .footerCarousel {
        position: relative;
        justify-content: left;
        margin-left: 20%; }
        .futFon .futFonInfo .leftFutFon .footerCarousel li {
          height: 4px;
          width: 40px; }
        .futFon .futFonInfo .leftFutFon .footerCarousel .active {
          background-color: #f15068; }
      .futFon .futFonInfo .leftFutFon .photoForm {
        font-size: 1rem; }
        .futFon .futFonInfo .leftFutFon .photoForm p {
          color: #222222;
          font-size: 1rem;
          text-align: justify;
          font-weight: 400; }
        .futFon .futFonInfo .leftFutFon .photoForm span {
          color: #f15068;
          font-size: 1rem;
          font-weight: 700; }
        .futFon .futFonInfo .leftFutFon .photoForm img {
          width: 84px;
          height: 84px;
          border-radius: 45px; }
        .futFon .futFonInfo .leftFutFon .photoForm .photoFormText {
          max-width: 390px; }
    .futFon .futFonInfo .RiFutFon {
      min-height: inherit; }

.formMail h2 {
  color: #222222;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700; }
.formMail .inpForm input {
  float: left;
  width: 260px;
  height: 47px;
  border: none;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding-left: 20px; }
.formMail .inpForm .subsBTN {
  height: 47px;
  width: 105px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 0.9rem;
  border: none;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px; }

.footerBut a {
  text-decoration: none;
  color: #898989;
  line-height: 2.5; }
  .footerBut a:hover {
    text-shadow: 2px 4px 6px #969696;
    text-decoration: none;
    color: #898989; }
.footerBut h2 {
  color: #f15068;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0; }
.footerBut .blockBrand {
  text-align: justify; }
  .footerBut .blockBrand p {
    color: #898989; }

.brandAllFooter {
  height: 80px;
  background-color: #E6E6E6; }
  .brandAllFooter .brandAll {
    color: #7A7A7A; }
  .brandAllFooter .messenge a {
    color: #222222; }
    .brandAllFooter .messenge a:hover {
      color: white;
      text-decoration: none; }
  .brandAllFooter .messenge i {
    width: 32px;
    height: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s; }
    .brandAllFooter .messenge i:hover {
      color: white;
      text-decoration: none;
      background: #f15068;
      transform: scale(1.2, 1.2); }

@media (min-width: 992px) {
  .topMenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg); } }
@media (max-width: 350px) {
  .rTop .btnNonSSM button:first-child {
    display: none; } }
@media (max-width: 450px) {
  .sidenav a {
    font-size: 20px !important; } }
@media (max-width: 991px) {
  .buttBanBG {
    background-blend-mode: overlay; }

  .basket__Product {
    left: -35px !important;
    top: 50px !important; } }
@media (min-width: 992px) {
  .RiFutFon {
    border-left: 1px solid #e3e3e3; } }
@media (max-width: 991px) {
  .futFon {
    min-height: auto; }
    .futFon .futFonInfo {
      min-height: inherit; }
      .futFon .futFonInfo .RiFutFon {
        min-height: inherit;
        border-top: 1px solid #e3e3e3;
        padding-top: 2rem; }
      .futFon .futFonInfo .leftFutFon {
        min-height: inherit; }
        .futFon .futFonInfo .leftFutFon .footerCarousel {
          justify-content: center;
          margin: 0 auto; } }
@media (max-width: 576px) {
  .inpForm {
    display: none; }

  .topBannerContent {
    background-size: 100% !important;
    background-blend-mode: overlay; }

  .menLabeltop {
    font-size: 3rem !important;
    color: #f15068 !important; }

  .menLabelbut {
    font-size: 2rem !important;
    color: #f15068 !important; }

  .prodCardHeader {
    width: 100% !important; }

  .drMyAccount {
    transform: translate3d(-122px, 6px, 0px) !important; } }
@media (max-width: 1199px) {
  .offer > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }

  .offerText .topOfferLabel {
    font-size: 2.5rem !important; }
  .offerText .offerLabel {
    font-size: 3.5rem !important; } }
@media (min-width: 992px) {
  .prodCard {
    flex: none !important; } }
@media (min-width: 768px) {
  .prodCard:hover {
    box-shadow: 0 19px 14px -12px rgba(0, 0, 0, 0.38); }
    .prodCard:hover .psevProdCard {
      display: flex; } }
.topBanner {
  height: 615px;
  background: #e8e8e8; }
  .topBanner .topBannerContent {
    height: inherit;
    background-size: 48%;
    background: url('https://raw.githubusercontent.com/IKolyas/verstka/master/src/assets/images/topHeaderBack.png') no-repeat right 8% top, #e8e8e8; }
    .topBanner .topBannerContent .menLabel {
      border-left: 14px solid #f15068;
      height: 94px;
      line-height: 40px; }
      .topBanner .topBannerContent .menLabel .menLabeltop {
        color: #222222;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase; }
      .topBanner .topBannerContent .menLabel .menLabelbut {
        color: #222222;
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 80px; }
        .topBanner .topBannerContent .menLabel .menLabelbut .menLabelbut span {
          color: #f15068; }

@keyframes animatedBackground {
  0% {
    background-position: right 8% top; }
  50% {
    background-position: right 20% top 20%; }
  100% {
    background-position: right 8% top; } }
#fon {
  width: 100%;
  animation: animatedBackground 15s linear infinite;
  -moz-animation: animatedBackground 15s linear infinite;
  -webkit-animation: animatedBackground 15s linear infinite;
  -o-animation: animatedBackground 15s linear infinite; }

.offer {
  position: relative; }
  .offer > a {
    text-decoration: none;
    padding: 0 20px;
    background-color: #FFFFFF;
    position: absolute;
    top: 25px; }
    .offer > a:hover {
      text-decoration: none; }
  .offer .offerText .topOfferLabel {
    font-size: 1rem;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase; }
  .offer .offerText .offerLabel {
    font-size: 2rem;
    color: #f15068;
    font-weight: 700;
    text-transform: uppercase; }

.FetItems h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222; }
.FetItems p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-align: center; }

.prodCard {
  position: relative;
  max-width: 261px !important;
  align-items: center;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -o-transition: all .7s; }
  .prodCard img {
    width: 261px;
    height: 280px;
    object-position: center center;
    object-fit: cover; }
  .prodCard .psevProdCardBody {
    width: inherit; }
    .prodCard .psevProdCardBody a {
      width: inherit;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #222222;
      text-decoration: none; }
    .prodCard .psevProdCardBody p {
      width: inherit;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #f15068; }
    .prodCard .psevProdCardBody button {
      border: none;
      background-color: #FFFFFF;
      font-size: 1rem;
      font-weight: 400;
      color: #f15068; }
      .prodCard .psevProdCardBody button i {
        color: #f15068;
        font-size: 2rem; }
  .prodCard .psevProdCard {
    display: none;
    position: absolute;
    width: 261px;
    height: 280px;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 56, 56, 0);
    transition-duration: .7s; }
    .prodCard .psevProdCard:hover {
      background-color: rgba(58, 56, 56, 0.83); }
    .prodCard .psevProdCard button {
      padding: .3rem;
      display: flex;
      background-color: rgba(58, 56, 56, 0.83);
      align-items: center;
      width: 123px;
      height: 39px;
      text-decoration: none;
      border: 2px solid #ffffff;
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      color: #ffffff; }
      .prodCard .psevProdCard button i {
        font-size: 1.3rem; }

.bBa__container .butBrowseAllProd {
  width: 212px;
  height: 48px;
  background-color: #f15068;
  color: #FFFFFF; }
  .bBa__container .butBrowseAllProd:hover {
    text-decoration: none;
    color: #FFFFFF; }
.bBa__container:hover .butBrowseAllProd {
  transform: rotateX(360deg);
  box-shadow: 2px 4px 6px #969696;
  transition: transform 0.8s cubic-bezier(0, 0.55, 0.45, 1); }

.buttBanBG {
  background-color: #222224;
  background-image: url('https://raw.githubusercontent.com/IKolyas/verstka/master/src/assets/images/banner.jpeg');
  background-repeat: no-repeat; }
  .buttBanBG .buttonBannerOffer {
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff; }
    .buttBanBG .buttonBannerOffer span {
      color: #f16d7f;
      font-weight: 700; }
    .buttBanBG .buttonBannerOffer p {
      font-size: 32.2px;
      line-height: 1.2;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #ffffff; }
  .buttBanBG .buttonBannerText {
    background-color: #222224;
    min-height: 525px; }
    .buttBanBG .buttonBannerText h4 {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 700;
      color: #fbfbfb; }
    .buttBanBG .buttonBannerText p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: #fbfbfb; }
    .buttBanBG .buttonBannerText img {
      width: 80px !important; }

.newsProd {
  background-color: #f8f3f3; }
  .newsProd .newsAr h2 {
    font-size: 24px;
    line-height: 20px;
    color: #f15068;
    font-weight: 700;
    text-transform: uppercase; }
  .newsProd .newsNav {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #636363;
    font-weight: 300; }
    .newsProd .newsNav .newsNavlink {
      text-decoration: none;
      text-transform: uppercase;
      color: #636363; }
      .newsProd .newsNav .newsNavlink:hover {
        color: #f15068;
        text-decoration: none; }
    .newsProd .newsNav .newsNavLinkActive {
      text-decoration: none;
      text-transform: uppercase;
      color: #f15068;
      font-weight: 700; }

.prodHeaders {
  font-size: 13px;
  font-weight: 700;
  color: #222222; }
  .prodHeaders .productDet img {
    width: 101px;
    height: 116px;
    display: block;
    object-position: center center;
    object-fit: cover; }
  .prodHeaders .ProdDetText h3 {
    font-size: 13px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .prodHeaders .ProdDetText span {
    font-size: 13px;
    color: #222222; }
  .prodHeaders .ProdDetText mark {
    background: none;
    color: #575757; }
  .prodHeaders .ProdHeadInp input {
    width: 55px;
    height: 31px;
    text-align: center; }

.ccShoppingBut button {
  width: 236px;
  height: 51px;
  background-color: #FFFFFF;
  color: #4A4A4A;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #EAEAEA;
  font-weight: 700;
  transition-duration: .5s; }
  .ccShoppingBut button:hover {
    background-color: #f15068;
    color: #FFFFFF;
    box-shadow: 2px 4px 6px #969696; }

.FormUser form input {
  width: 356px;
  height: 46px;
  margin-top: 1rem;
  border: 2px solid #EAEAEA; }
.FormUser form button {
  margin-top: 1.5rem;
  width: 101px;
  height: 36px;
  background-color: #FFFFFF;
  color: #4A4A4A;
  border: 2px solid #EAEAEA;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700; }
  .FormUser form button:hover {
    background-color: #f15068;
    color: #FFFFFF;
    box-shadow: 2px 4px 6px #969696;
    border: none; }
.FormUser label {
  text-transform: uppercase;
  font-weight: 700; }
.FormUser .FormUserGT span {
  font-size: 0.7rem; }
.FormUser .FormUserGT h5 span {
  color: #f15068;
  font-size: 1rem; }
.FormUser .FormUserGT form {
  width: 100%; }
  .FormUser .FormUserGT form button {
    width: 274px;
    height: 51px;
    background-color: #f15068;
    color: #FFFF;
    font-size: 1rem;
    border: none; }

.corusBlock {
  background-color: #f7f7f7;
  border: 1.0px solid #eaeaea; }
  .corusBlock .carusRow {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14); }

.corImg {
  width: 597px;
  height: 724px;
  object-position: center center;
  object-fit: contain;
  border: none; }

.productListContainer {
  position: relative; }

.productList {
  position: absolute;
  top: -90px;
  height: 730px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea; }
  .productList span {
    font-size: 14px;
    font-weight: 700;
    color: #f16d7f; }
  .productList .plrow {
    width: 63px;
    height: 1px;
    background-color: #ef5b70; }
  .productList .plrowActive {
    width: 63px;
    height: 3px;
    background-color: #ef5b70; }
  .productList h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 0;
    padding: 0; }
  .productList p {
    max-width: 618px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #898989; }
  .productList .spansList {
    color: #222222; }
    .productList .spansList span {
      margin-left: 2px;
      margin-right: 2px;
      color: #f15068; }
  .productList .money {
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70; }
  .productList .lineList {
    max-width: 642px;
    height: 1px;
    background-color: #f15068; }
  .productList .inpList {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f; }
    .productList .inpList input {
      max-width: 144px;
      height: 35px;
      border: 1.0px solid #eaeaea; }
  .productList .ButList button {
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1.0px solid #ef5b70;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70; }
    .productList .ButList button:hover {
      background-color: #f15068;
      color: #ffffff; }

.labelText {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d4d4d; }

.prodCardHeader {
  border-bottom: 1.0px solid #ebebeb;
  border-left: 5px solid #ef5b70; }
  .prodCardHeader button {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #898989; }
    .prodCardHeader button:hover {
      text-decoration: none;
      color: #f15068; }
    .prodCardHeader button:focus, .prodCardHeader button:active {
      box-shadow: none !important;
      text-decoration: none;
      color: #f15068; }
      .prodCardHeader button:focus svg, .prodCardHeader button:active svg {
        transform: rotateZ(180deg);
        transition-duration: .8s; }

.drBtnContProd a {
  font-size: 14px;
  line-height: 33px;
  font-weight: 500;
  color: #6f6e6e; }
  .drBtnContProd a:hover {
    color: #f15068;
    text-decoration: none; }

.price {
  font-family: Arial, sans-serif;
  font-size: 8px; }
  .price .range-slider {
    position: relative; }
  .price .irs--round {
    top: -20px;
    height: 30px; }
  .price .labInpProd input {
    border: none; }
  .price .irs-bar {
    background-color: #f15068 !important; }
  .price .irs-min, .price .irs-max, .price .irs-single, .price .irs-from, .price .irs-to {
    display: none; }
  .price .irs-handle {
    top: 31px !important;
    width: 14px !important;
    height: 14px !important;
    border: none !important;
    background-color: #f15068 !important; }
  .price .js-input-from, .price .js-input-to {
    width: 40px !important; }

.rightProduct label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e; }
.rightProduct .labelSize {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e; }
.rightProduct .inpScroll {
  width: 260px; }
.rightProduct input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 10px;
  height: 5px;
  width: 260px;
  border: 1px solid #000;
  background-color: #f15068; }
.rightProduct input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #f15068;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: -5px; }
.rightProduct .breadCrombProd a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  text-decoration: none; }
  .rightProduct .breadCrombProd a:hover {
    text-decoration: none;
    color: #f15068; }
.rightProduct .breadCrombProd .breadcrumb-item:not(:nth-child(1))::before {
  content: "|" !important; }
.rightProduct .active {
  color: #f15068; }

.sortProd {
  height: 50px; }
  .sortProd .input-group {
    background-color: #ffffff;
    border: 1.0px solid #ebebeb; }
    .sortProd .input-group .input-group-prepend {
      height: 30px; }
      .sortProd .input-group .input-group-prepend select {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e; }
        .sortProd .input-group .input-group-prepend select:focus, .sortProd .input-group .input-group-prepend select:active, .sortProd .input-group .input-group-prepend select:hover {
          box-shadow: none !important;
          background-color: #ffffff !important; }
      .sortProd .input-group .input-group-prepend button {
        border: none;
        color: #222222;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400; }
        .sortProd .input-group .input-group-prepend button:focus, .sortProd .input-group .input-group-prepend button:active, .sortProd .input-group .input-group-prepend button:hover {
          box-shadow: none !important;
          background-color: #ffffff !important; }
    .sortProd .input-group .custom-select {
      height: 30px; }

.paginationProduct button {
  width: 150px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #f15068;
  border-radius: 3.0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70; }
  .paginationProduct button:hover {
    background-color: #f15068;
    color: #ffffff; }
.paginationProduct .pagination a {
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #c4c4c4; }
  .paginationProduct .pagination a:hover {
    color: #f15068;
    font-weight: 700; }
.paginationProduct .pagination .page-linkActive {
  color: #ef5b70;
  font-weight: 400; }

.buttBanBGProduct {
  background-color: #222224; }
  .buttBanBGProduct .buttonBannerText {
    min-height: 340px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb; }
    .buttBanBGProduct .buttonBannerText h4 {
      margin-top: 2rem; }
    .buttBanBGProduct .buttonBannerText p {
      margin-top: .5rem;
      padding: .5rem; }

.card {
  border: none !important; }

.cardCheckOut .card-header {
  background-color: transparent !important;
  border: none !important; }
.cardCheckOut h2 button {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }
  .cardCheckOut h2 button:hover, .cardCheckOut h2 button:active, .cardCheckOut h2 button:focus {
    box-shadow: none;
    text-decoration: none;
    color: #f15068; }
.cardCheckOut .hedThemeText {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }
.cardCheckOut p, .cardCheckOut a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #898989; }
.cardCheckOut a:hover {
  text-decoration: none;
  color: #f15068; }
.cardCheckOut .checkButton {
  width: 180px;
  height: 50px;
  border: 1.0px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a; }
  .cardCheckOut .checkButton:hover {
    background-color: #f15068;
    border: none; }
.cardCheckOut .inpCheck {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1.0px solid #eaeaea; }
  .cardCheckOut .inpCheck:hover, .cardCheckOut .inpCheck:active, .cardCheckOut .inpCheck:focus {
    box-shadow: none; }
.cardCheckOut mark {
  background-color: transparent;
  color: #f15068; }
.cardCheckOut span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #ff0d0d; }
.cardCheckOut .forgotPass {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #222222; }

/*# sourceMappingURL=styles.css.map */
