@import "../variables";

//header menu

@media (min-width: 992px) {

  .topMenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
  }


}
@media (max-width: 350px) {
  .rTop {
    .btnNonSSM button:first-child {
      display: none;
    }
  }
}


@media (max-width: 450px) {
  .sidenav {
    a {
      font-size: 20px !important;
    }
  }
}

@media (max-width: 991px) {
  .buttBanBG {
    background-blend-mode: overlay;
  }
  .basket__Product{
    left: -35px!important;
    top: 50px!important;
  }
}

@media (min-width: 992px) {
  .RiFutFon {
    border-left: 1px solid #e3e3e3;
  }
}

@media (max-width: 991px) {
  .futFon {
    min-height: auto;

    .futFonInfo {
      min-height: inherit;

      .RiFutFon {
        min-height: inherit;
        border-top: 1px solid #e3e3e3;
        padding-top: 2rem;
      }

      .leftFutFon {
        min-height: inherit;

        .footerCarousel {
          justify-content: center;
          margin: 0 auto;
        }
      }
    }
  }
}


// index
@media (max-width: 576px) {
  .inpForm {
    display: none;
  }
  .topBannerContent {
    background-size: 100% !important;
    background-blend-mode: overlay;
  }
  .menLabeltop {
    font-size: 3rem !important;
    color: $mainThemeColor !important;
  }
  .menLabelbut {
    font-size: 2rem !important;
    color: $mainThemeColor !important;
  }
  .prodCardHeader {
    width: 100% !important;
  }
  .drMyAccount {
    transform: translate3d(-122px, 6px, 0px)!important;
  }
}

@media (max-width: 1199px) {

  .offer > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    top: 0 !important;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .offerText {
    .topOfferLabel {
      font-size: 2.5rem !important;
    }

    .offerLabel {
      font-size: 3.5rem !important;
    }
  }
}

@media (min-width: 992px) {


  .prodCard {
    flex: none !important;
  }

}

@media (min-width: 768px) {

  .prodCard {

    &:hover {

      box-shadow: 0 19px 14px -12px rgba(0, 0, 0, 0.38);


      .psevProdCard {
        display: flex;


      }
    }
  }
}
